@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    height: max-content;
    width: 100%;
    background: black;
    color: #ffe600;
}

.digital {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    height: max-content;
    width: 100%;
}

.title {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 2vh;
}

h3 {
    font-size: 120%;
    margin: 0;
}

span {
    padding: 0 5px;
    font-size: 200%;
    letter-spacing: 0.15rem;
}

h2 {
    font-size: 150%;
    font-weight: 600;
    word-spacing: 0.5rem;
}

.date, .time {
    padding: 0.5rem 0.3rem;
    border: solid 2px #ffe600;
    width: 20rem;
    padding-bottom: 3rem;
    margin: 0.5rem;
}

@media screen and (max-width: 46.4em) {
    .digital {
        flex-direction: column;
    }
}